/*------------------------------------------
        Font-Size Start Here
-------------------------------------------*/

$Font-size-88px: 88px;
$Font-size-56px: 56px;
$Font-size-45px: 45px;
$Font-size-60px: 60px;
$Font-size-24px: 24px;
$Font-size-20px: 20px;
$Font-size-18px: 18px;
$Font-size-16px: 16px;


/*------------------------------------------
    Line-Height Start Here
-------------------------------------------*/

$line-height-106px: 106px;
$line-height-70px: 70px;
$line-height-34px: 34px;
$line-height-36px: 36px;
$line-height-32px: 32px;
$line-height-30px: 30px;
$line-height-19px: 19px;
$line-height-21px: 21px;
$line-height-28px: 28px;


/*=====================================
    Color Variable's
=====================================*/

$Primary-color:#1a8324;
$Secondary-color:#FFCE2B;
$Black:#292D32;
$Black-40:rgba(41, 45, 50, 0.4);
$White:#FFFFFF;
$White-5:rgba(255, 255, 255, 0.05);
$White-65:rgba(255, 255, 255, 0.65);
$box-shadow: 3px 3px 0px #000000;
$Black-65:rgba(41, 45, 50, 0.65);
$Black-05:rgba(41, 45, 50, 0.05);
$Blcak-7:rgba(41, 45, 50, 0.7);
$Blcak-45:rgba(41, 45, 50, 0.45);
$Blcak-75:rgba(41, 45, 50, 0.75);
$Blcak-4:rgba(41, 45, 50, 0.04);

/*=====================================
    Font-family Variable's
=====================================*/

$font-family-BlueberrySans-ExtraBold: "BlueberrySans-ExtraBold";
$font-family-BlueberrySans-Regular: "BlueberrySans-Regular";
$font-family-BlueberrySans-Medium: "BlueberrySans-Medium";

